# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Environment variables
.env
.venv/
venv/
env/

# Conda
conda-meta/

# Logs
*.log

# Shell scripts
*.sh

# macOS metadata
.DS_Store

